useDynLib(timeDF, .registration=TRUE)
export("as.timeDF")
export("as.periodDF")
export("vec_to_periodDF")
S3method(as.data.frame,timeDF)
export("adjust_periodDF")
export("condense_periodDF")
export("convert_periodDF")
export("sort_periodDF")
S3method(summary,timeDF)
S3method(summary,periodDF)

export("extract_with_periodDF")
export("flag_with_periodDF")
importFrom(Rcpp, evalCpp)
importFrom(methods, is)
