useDynLib(timeDF, .registration=TRUE)
export("as.timeDF")
export("as.periodDF")
export("vec_to_periodDF")
S3method(as.data.frame,timeDF)
export("adjust_periodDF")
export("condense_periodDF")
export("convert_periodDF")
export("sort_periodDF")
S3method(summary,timeDF)
S3method(summary,periodDF)

export("extract_with_periodDF")
export("flag_with_periodDF")
importFrom(Rcpp, evalCpp)
importFrom(methods, is)

export("time_var")
export("time_vec")
export("period_type")
export("select_timeDF")
export("sort_timeDF")
export("validate_timeDF")
export("validate_sorted_timeDF")
importFrom(utils, head, tail)
